.Rproj.user
.Rhistory
.RData
.Ruserdata
bd_benchmark_paper_analyses_cache/html/
/Supplementary_figure_report_files/figure-html
/literature_beta_diversity_dispersion_openalex_files
/Supplementary_figure_report_files/libs
/lejing_data
/bd_benchmark_paper_analyses_files
/literature_beta_diversity_dispersion_openalex_cache
/article_files
